table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
width: 50%;
}
th, td {
  border-color: burlywood;
  width: 10%;
  padding-left: 5px;
}

.my-container{
  background-color: rgb(250, 174, 61);
border-radius: 10px;
padding-left: 10px;
}

.auth{
  background-color: rgb(27, 82, 82) ;
  border-radius: 10px;
}


